.controls{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
}

.button-group{
    display: flex;
    flex-direction: row;
}

.button-group button{
    margin: 1px;
    min-width: 100px;
}

.button-group button.active {
    color:#ff4081;
}

.title{
    margin: 20px;
    text-align: center;
}

.title h1{
    font-size: 2rem;
    font-weight: bold;
}